$primary-color: #00adb5;
$primary-color-light: rgba(0, 173, 181, 0.65);
$secondary-color: #eee;
$tertiary-color: #222831;
$title-font-stack: 'Lobster', cursive;
$text-font-stack: 'Cabin', sans-serif;
$default-v-margin: 1rem 0;

html {
  height: 100%;
}

body {
  align-items: center;
  background-color: $secondary-color;
  color: $tertiary-color;
  display: grid;
  font-family: $text-font-stack;
  height: 100%;
  margin: 0 1rem;
  text-align: center;
}

.app-title {
  color: $primary-color;
  display: inline-block;
  font-family: $title-font-stack;
  font-size: 4rem;
  text-decoration: none;
}

.question-wrapper {
  display: block;
  margin: 1rem 0;
}

.instruction {
  margin: 1rem 0;
}
